<label for="tagNameInput">Search for tag:</label>
<input #input
       name="tagName"
       id="tagNameInput"
       type="text"
       placeholder="Search for tag"
       (keyup)="valueChange(input.value)"
       (change)="valueChange(input.value)"
>

<div class="tags row">
  <div
    *ngFor="let tag of filteredTags"
    class="img-container"
    [class]="tagClasses"
  >
    <a href="#" (click)="onTagClick(tag)" [class]="TagService.getTagClass(tag.type)" class="tag-color" [title]="tag.name">{{tag.name}}</a>
    &nbsp;
    <a *ngIf="tagIcon != null" href="#" title="Delete tag" (click)="onTagIconClick(tag)"><fa-icon [icon]="tagIcon"></fa-icon></a>
  </div>
</div>
