<nav class="paginator">
  <a [ngClass]="{
    'btn': true,
    'disabled': actualPage <= 1
  }" href="#" (click)="changePage(actualPage - 1)">
    <fa-icon [icon]="leftIcon"></fa-icon>
  </a>

  <a [ngClass]="{
    'btn': true
  }"
     *ngIf="pageArray().indexOf(1) == -1"
     href="#"
     (click)="changePage(1)">1</a>
  <span *ngIf="pageArray().indexOf(1) == -1">&hellip;</span>

  <a *ngFor="let i of pageArray()" [ngClass]="{
    btn: true,
    active: actualPage == i
  }" href="#" (click)="changePage(i)">{{i}}</a>

  <span *ngIf="pageArray().indexOf(maxPage) == -1">&hellip;</span>
  <a [ngClass]="{
    'btn': true
  }"
     *ngIf="pageArray().indexOf(maxPage) == -1"
     href="#"
     (click)="changePage(maxPage)">{{maxPage}}</a>

  <a [ngClass]="{
    'btn': true,
    'disabled': actualPage >= maxPage
  }" href="#" (click)="changePage(actualPage + 1)">
    <fa-icon [icon]="rightIcon"></fa-icon>
  </a>

</nav>
