<div class="search">
  <form #searchForm="ngForm" (ngSubmit)="onSubmit()">
    <label for="searchInput">Search</label>
    <app-input-whisperer
      id="searchInput"
      placeholder="kurosawa_ruby"
      [items]="tags"
      [defaultValue]="defaultValue"
    ></app-input-whisperer>
    <div *ngIf="showConditions || sizeConditions.length > 0">
      <app-size-condition *ngFor="let condition of sizeConditions" [addIcon]="false" [condition]="condition" (buttonClick)="removeCondition($event)"></app-size-condition>
      <app-size-condition (buttonClick)="addCondition($event)"></app-size-condition>
    </div>
  </form>
</div>
