@import '../../../../styles/variables'

.info
  font-size: 1.3rem
  clear: both
  padding: .5rem 1rem 0
  .line
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    color: $light-pink
    a
      color: $light-pink

  strong
    color: $text-color

app-tag-selector
  margin-top: 1rem
  display: block
