<ng-container *ngIf="image">
  <div class="info">
    <div class="line">
      <strong>Date:</strong> {{image.addedDateTime | date:'dd. MM. yyyy, HH:mm'}}
    </div>
    <div class="line">
      <strong>Size:</strong>&nbsp;
      <a [href]="imageApi.getImageFileUrl(image.id)" title="Download image">{{image.width ? image.width : '__'}}x{{image.height ? image.height : '__'}}</a>
    </div>
  </div>
  <app-tag-list *ngIf="!editMode" [tags]="tags"></app-tag-list>
  <app-tag-list *ngIf="editMode" [tags]="tags" (tagIconCallback)="removeTag($event)" [tagIcon]="faTrash"></app-tag-list>
  <div class="info">
    <div class="line">
      <a href="#" (click)="toggleEditMode()" title="Toggle edit mode">Toggle edit mode</a>
    </div>
  </div>
</ng-container>
