<div class="row">
  <div [class.col-6]="condition.type == SizeConditionType.SideSize" [class.col-5]="condition.type != SizeConditionType.SideSize">
    <select [(ngModel)]="condition.type" name="type">
      <option [value]="SizeConditionType.SideSize">Width ? Height</option>
      <option [value]="SizeConditionType.SideRatio">Width / Height</option>
    </select>
  </div>
  <div [class.col-4]="condition.type == SizeConditionType.SideSize" [class.col-2]="condition.type != SizeConditionType.SideSize">
    <select [(ngModel)]="condition.operation" name="operation">
      <option [value]="SizeConditionOperation.Equals">=</option>
      <option [value]="SizeConditionOperation.GreaterEquals">&ge;</option>
      <option [value]="SizeConditionOperation.LessEquals">&le;</option>
      <option [value]="SizeConditionOperation.NotEquals">&ne;</option>
    </select>
  </div>
  <div *ngIf="condition.type == SizeConditionType.SideRatio" class="col-3">
    <input type="number" [(ngModel)]="condition.ratioValue" name="ratioValue">
  </div>
  <div class="col-2">
    <input type="button" [value]="addIcon ? '+' : '-'" (click)="onClick()">
  </div>
</div>
