<form *ngIf="tag">
  <div class="title">
    {{tag.id == 0 ? 'Add tag' : 'Edit tag'}}
  </div>
  <div *ngIf="error" class="error">
    Error while sending tag to server.
  </div>
  <div>
    <label for="form-name">Name</label>
    <input type="text" id="form-name" placeholder="Name" name="name" [(ngModel)]="tag.name">
  </div>
  <div>
    <label for="form-type">Type</label>
    <select id="form-type" name="type" [(ngModel)]="tag.type">
      <option *ngFor="let item of tagTypes | keyvalue" [ngValue]="+item.key">
        {{item.value}}
      </option>
    </select>
  </div>
  <div>
    <input type="submit" [value]="tag.id == null ? 'Add' : 'Save'" (click)="save()">
    <input *ngIf="tag.id != 0" type="button" value="Close" (click)="setTag(null)">
  </div>
</form>
