<form *ngIf="record">
  <label><input type="checkbox" [(ngModel)]="mergeTags" name="merge-tags"> Merge tags </label>
  <div class="row">
    <div class="col-sm-4">
      <input type="submit" value="First" (click)="resolve(DuplicateRecordResolution.A)">
    </div>
    <div class="col-sm-4">
      <input type="submit" value="Not duplicate" (click)="resolve(DuplicateRecordResolution.NotDuplicate)">
    </div>
    <div class="col-sm-4">
      <input type="submit" value="Second" (click)="resolve(DuplicateRecordResolution.B)">
    </div>
  </div>
</form>
