@import '../../../styles/variables'

div
  width: 100%
  position: relative

ul
  text-align: left
  position: absolute
  top: 20px
  left: 0
  right: 0
  padding: 0
  margin: 0
  li
    text-align: left
    list-style: none
    background: $dark-bg
    border: 1px solid $dark-bg
    font-size: 1.1em
    padding: 0.1em .5em
    cursor: pointer
    color: $light-pink
    &:hover, &:focus, &:active, &.active
      background: $background-color
      color: #fff
