<div>
  <input #input
         [id]="id"
         [placeholder]="placeholder"
         [name]="name"
         (keyup)="valueChange(input.value)"
         (change)="valueChange(input.value)"
         (focus)="focusIn()"
         (focusout)="focusOut()"
         (keydown.Tab)="moveActive($event, 1)"
         (keydown.enter)="addIndexValue($event)"
         (keydown.ArrowUp)="moveActive($event, -1)"
         (keydown.ArrowDown)="moveActive($event, 1)"
  >
  <ul>
    <li
      *ngFor="let item of whisperer; let i = index"
      (click)="addValue(item.name)"
      [class]="TagService.getTagClass(item.type)"
      [class.active]="i == activeIndex"
      [class.tag-color]="true"
    >
      {{item.name}}
    </li>
  </ul>
</div>
