<div class="row">
  <div
    *ngFor="let record of records"
    class="col-xl-4 col-lg-6 col-md-6 col-sm-6 record-container"
  >
    <div class="record">
      <a class="record-link" [routerLink]="['/duplicate-record', record.id]">
        <img [alt]="record.imageA.name" [src]="imageApi.getImagePreviewUrl(record.imageA.id, TMP_WIDTH, TMP_HEIGHT)" />
        <img [alt]="record.imageB.name" [src]="imageApi.getImagePreviewUrl(record.imageB.id, TMP_WIDTH, TMP_HEIGHT)" />
      </a>
    </div>
  </div>
</div>
