<app-alerts></app-alerts>
<div class="container-fluid">
  <div class="side-panel">
    <h1 class="logo"><a title="Rubybooru" routerLink="/"><span>Rubybooru</span></a></h1>
    <app-menu></app-menu>
    <app-search-bar></app-search-bar>
    <router-outlet name="sidebar"></router-outlet>
    <div class="buttons">
      <app-random-image-button></app-random-image-button><br>
      <app-refresh-catche-button></app-refresh-catche-button>
    </div>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
