/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '../../node_modules/bootstrap/scss/bootstrap'
@import 'variables'
@import 'switches'

html
  font-size: 62.5%

body
  background: $background-color
  color: $text-color

.logo
  margin: 10px auto 0
  max-width: $logo-width
  a
    display: block
    max-height: $logo-height
    width: 100%
    padding-top: 100% * ($logo-height / $logo-width)
    background: url($logo-url)
    background-size: cover
    span
      display: none

.side-panel
  width: $menu-width
  float: left
  clear: both

  div.buttons
    text-align: center
    padding-top: 1rem
    font-size: 1.2rem
    color: $light-pink
    a
      color: $light-pink

.content
  width: calc(100% - #{$menu-width})
  margin-left: $menu-width
  padding: $content-padding
  position: relative

.tag-color
  &.copyright
    color: $copyright-color !important

  &.character
    color: $character-color !important

  &.system
    color: $system-color !important

  &.author
    color: $author-color !important

input, select
  border: 1px solid $dark-pink
  background: lighten($light-pink, 20%)
  color: $dark-pink
  font-size: 1.2rem
  outline-width: 0
  border-radius: $border-radius
  padding: 0 5px
  width: 100%

  &[type=submit], &[type=button]
    background: $dark-pink
    color: lighten($light-pink, 20%)
    &:hover, &:focus
      background: lighten($dark-pink, 30%)
      color: $background-color
    &:active
      background: lighten($dark-pink, 10%)
      color: $background-color

@import 'responsive'
